@keyframes levitate {
    0%{transform:translateY(0)}
    30%{transform:translateY(-10px)}
    50%{transform:translateY(4px)}
    70%{transform:translateY(-15px)}
    to{transform:translateY(0)}
}

.animation {
    animation: levitate 10s ease infinite;
}

.animation_12s {
    animation: levitate 12s ease infinite 1s;
}

.magicpattern { 
  width: 90%;
  height: 30%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-color: black;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 667%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 663.412c21-5.24 63-15.45 105-26.2s63-17.305 105-27.55c42-10.245 63-19.106 105-23.676 42-4.57 63 14.857 105 .827s63-54.085 105-70.978c42-16.893 63-3.376 105-13.485s63-20.195 105-37.058c42-16.864 63-51.583 105-47.26 42 4.324 63 85.688 105 68.876 42-16.812 63-140.368 105-152.935 42-12.568 63 105.302 105 90.099 42-15.203 63-166.835 105-166.115 42 .72 63 171.6 105 169.713 42-1.888 63-173.53 105-179.151 42-5.622 63 176.945 105 151.044 42-25.9 63-261.672 105-280.549 42-18.877 63 142.324 105 186.163 42 43.838 63 66.796 105 33.03 42-33.767 84-161.49 105-201.863L2000 667H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 663.412c21-5.24 63-15.45 105-26.2s63-17.305 105-27.55c42-10.245 63-19.106 105-23.676 42-4.57 63 14.857 105 .827s63-54.085 105-70.978c42-16.893 63-3.376 105-13.485s63-20.195 105-37.058c42-16.864 63-51.583 105-47.26 42 4.324 63 85.688 105 68.876 42-16.812 63-140.368 105-152.935 42-12.568 63 105.302 105 90.099 42-15.203 63-166.835 105-166.115 42 .72 63 171.6 105 169.713 42-1.888 63-173.53 105-179.151 42-5.622 63 176.945 105 151.044 42-25.9 63-261.672 105-280.549 42-18.877 63 142.324 105 186.163 42 43.838 63 66.796 105 33.03 42-33.767 84-161.49 105-201.863%22 fill=%22none%22 stroke=%22%231cc94f%22 stroke-width=%2210%22%2F%3E%3C%2Fsvg%3E");
}